.credentials-h{
    width: 100%;
    height: 150px;
    background-color: var(--black-color);
    color: var(--white-font);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.credentials-h p{
    font-size: 21px;
}
.credentials-h h3{
    font-size: 40px;
}
.award-des{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    background-color: var(--pink-bg);
    justify-content: space-evenly;
    cursor: pointer;
}
.award-img{
    width: 40%;
    height: 100%;
    display: flex;
}
.award-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.award-para{
    width: 40%;
    height: 588px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    color: var(--para-font);
}
.award-para h1{
    font-size: 50px;
    font-weight: 500;
}
.award-para p{
    font-size: 18px;
    line-height: 26px;
    text-align: start;
}

@media (max-width:1200px) {

    
}

@media (max-width: 600px) {
    .credentials-h h3{
        font-size: 27px;
    }
    .award-des{
        flex-direction: column;
        padding: 30px 0;
    }
    .credentials-h{
        padding: 0 20px;
    }
    .award-img{
        width: 85%;
        margin: 0 auto;
    }
    .award-para{
        width: 85%;
        margin: 20px auto;
        height: 100%;
    }
    .award-para p{
        text-align: start;
    }
}