.blog{
    width: 100%;
    height: 100%;
    padding: 0 0 30px 0;
}
.blogintro{
    width: 100%;
    height: 70vh;
    background-image: url('../../Assets/images/blogintro.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-welcomenote{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blog-bg);
}
.blogintro h1{
    color: var(--white-font);
    font-size: 100px;
}
.blog-welcomenote p{
    color: var(--white-font);
    font-size: 30px;
}
.blog-wholediv{
    width: 90%;
    height: 100%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blog-cart{
    width: 100%;
    height: fit-content;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blogcart-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    align-items: start;
}
.blogcart-content p, h1{
    text-align: start;
}
.blogcart-content p{
    color: var(--light-font);
    line-height: 27px;
}
.blogcart-content h1{
    color: var(--border-color);
}
.blogimg1{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.readmore-btn{
    color: var(--font-color);
    background-color: var(--white-font);
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
    border: none;
}
.readmore-btn:hover{
    background-color: var(--about-bg);
    transition: 0.5s;
}
.blog-entry1{
    width: 32%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.blog-entry2{
    width: 32%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.blog-entry3{
    width: 32%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.oldpage{
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--font-color);
    font-size: 22px;
    margin: 0 auto;
    width: 90%;
}

@media (max-width:1200px){


}

@media (max-width:600px){
    .blog-wholediv{
        flex-direction: column;
    }
    .blog-entry1{
        width: 100%;
    }
    .blog-entry2{
        width: 100%;
    }
    .blog-entry3{
        width: 100%;
    }
    .blogintro{
        height: 45vh;
    }
    .blog-welcomenote h1{
        font-size: 85px;
    }
    .blog-welcomenote p{
        font-size: 25px;
    }
}
