
.aboutswiper{
    width: 100%;
    height: 550px;
}
.aboutswiper .swiper {
    width: 100%;
    height: 100%;
  }
  
  .aboutswiper  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .aboutswiper  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  @media (max-width:1200px){

    
  }


  @media (max-width:600px){
    .aboutswiper{
      height: 410px;
      width: 75%;
    }
    .aboutswiper  .swiper-slide img{
      height: 100%;
    }

  }
  